*{
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-style: normal;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%
}

.header{
    left: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
    padding-left: 6%;
    height: 60px;
    color: #2649D8;
}

.section {
    display: flex;
    flex-flow: wrap;
    flex-direction: row;
    justify-content: center;
    padding-top: 8%;
    padding-bottom: 3%;
}

.data{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 3%;
}

.sub-title{
    padding-left: 5%;
    padding-bottom: 2%;
}

.svg{
    /* background-color: yellow; */
    margin: 2%;
}


@media screen  {
    button {
        width: 166px;
        height: 48px;
        border-radius: 5px;
        border: none;
        background: linear-gradient(266.33deg, #2649D8 0%, #494AFF 99.63%);
        color: white;
    }
    .sectionTwo{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
        font-size: 24px;
        padding-left: 4%;
        padding-right: 4%;
    }
    .data{
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 3%;
    }
    .title{
        font-size: 48px;
        line-height: 62.5px
    }
    .paragraph{
        font-size: 24px;
        line-height: 31.25px;
    }
    .footer{
        left: 0%;
        height: 206px;
        width: 100%;
        background: #F5F5F5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 48px;
        color: #808080;
    }
}

@media screen and (max-width: 834px) {
    button {
        width: 166px;
        height: 48px;
        border-radius: 5px;
        border: none;
        background: linear-gradient(266.33deg, #2649D8 0%, #494AFF 99.63%);
        color: white;
    }
    .sectionTwo{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        font-size: 24px;
        padding-left: 4%;
        padding-right: 4%;
    }
    .title{
        font-size: 42px;
        line-height: 54.68px;
    }
    .paragraph{
        font-size: 18px;
        line-height: 23.44px;
    }
    .footer{
        top: 98%;
        left: 0%;
        height: 206px;
        width: 100%;
        background: #F5F5F5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 42px;
        color: #808080;
    }
}

@media screen and (max-width: 390px) {
    button {
        position: absolute;
        top: 42.5%;
        width: 166px;
        height: 48px;
        border-radius: 5px;
        border: none;
        background: linear-gradient(266.33deg, #2649D8 0%, #494AFF 99.63%);
        color: white;
    }
    .header{
        text-align: center;
        padding-left: 0;
    }
    .section {
        display: flex;
        flex-flow: wrap;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 3%;
    }
    .sectionTwo{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        height: 100%;
        font-size: 24px;
        padding-left: 4%;
        padding-right: 4%;
    }
    .title{
        position: absolute;
        top: 28%;
        color: white;
        text-align: center;
        padding-left: 5%;
        padding-right: 5%;
        font-size: 28px;
        text-shadow: 0px 2px 10px rgba(0, 0, 0, 0.5);
        line-height: 36.46px;
    }
    .sub-title{
        font-size: 22px;
        line-height: 28.64px;
    }
    .paragraph{
        font-size: 18px;
        line-height: 23.44px;
        display: none;
    }
    .footer{
        height: 152px;
        width: 100%;
        background: #F5F5F5;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 28px;
        color: #808080;
    }
    .scatter-text{
        font-size: 14px;
    }
}
